@font-face {
  font-family: 'DennioFont';
  src: url('DuMathieu.eot');
  src: url('DuMathieu.eot?#iefix') format('embedded-opentype'),
  /*url('../font/DuMathieu.woff2') format('woff2'),*/
  url('DuMathieu.woff') format('woff'),
  url('DuMathieu.ttf') format('truetype'),
  url('DuMathieu.svg#Darkenstone') format('svg');
  font-weight: normal;
  font-style: normal;
}