/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);*/
@import "const.scss";

#cssnavi {
  background: black;
  width: auto;
  font-family: $font;
}
#cssnavi ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssnavi ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssnavi.align-right ul li {
  float: right;
}
#cssnavi.align-center ul {
  text-align: center;
}
#cssnavi ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: DuMethieus;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
/* Essentiell wichtig für den "Strich" beim Mouseover */
    #cssnavi ul li a:hover:before {
      width: 100%;
    }
    #cssnavi ul li a:after {
      content: "";
      display: block;
      position: absolute;
      right: -3px;
      top: 19px;
      height: 6px;
      width: 6px;
      background: white;
      opacity: .5;
    }
    #cssnavi ul li a:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background: white;
      -webkit-transition: width .25s;
      -moz-transition: width .25s;
      -ms-transition: width .25s;
      -o-transition: width .25s;
      transition: width .25s;
    }
#cssnavi ul li.last > a:after,
#cssnavi ul li:last-child > a:after {
  display: none;
}
#cssnavi.align-right li.last > a:after,
#cssnavi.align-right li:last-child > a:after {
  display: block;
}
#cssnavi.align-right li:first-child a:after {
  display: none;
}


/* Das ist der Part der sich ändert bei der Groesse des Bildschirms. */
@media screen and (max-width: 768px) {
  #cssnavi ul li {
    float: none;
    display: block;
  }
  #cssnavi ul li a {
    width: 100%;
   /* -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
    border-bottom: 1px solid #ffffff;
  }
  /*#cssnavi ul li.last > a,
  #cssnavi ul li:last-child > a {
    border: 0;
  }*/
  /* Das "Quadrat" nach jedem MenuPunkt wird unterdrückt. */
  #cssnavi ul li a:after {
    display: none;
  }
  /* "Strich"-Effekt wird unterdrückt. */
  #cssnavi ul li a:before {
    display: none;
  }
}