@import "const.scss";

* {
    box-sizing: border-box;
    text-align: center;
    font-family: $font;
}

html {
    background: $bgColour;
    color: $textColor;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body {
    height: 100%;
    width: 100%;
    border: 4px solid orange;
}
/* Navigation */
#navigation {
    height: 15%;
    width: 100%;
    text-align:center;
    padding-top: 5%;
    font-family: $font;

    /*border: 4px solid blue;*/
}

    #navigation a:hover, #navigation a:focus, #navigation a:active {
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: red;
        -webkit-fill-color: red;
        text-shadow: 1px 0px 20px red;
        -webkit-transition: width 0.3s; /*Safari & Chrome*/
        transition: width 0.3s;
        -moz-transition: width 0.3s; /* Firefox 4 */
        -o-transition: width 0.3s; /* Opera */
    }

#navigation p:hover, #navigation p:focus, #navigation p:active {
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: red;
    -webkit-fill-color: red;
    text-shadow: 1px 0px 20px red;
    -webkit-transition: width 0.3s; /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s; /* Firefox 4 */
    -o-transition: width 0.3s; /* Opera */
}

/* Content der Seite */
#content {
    border-right: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    height: 75%;
    width: 100%;
    /*background: url('../img/hm.png') no-repeat;*/
}
    #content div {
        width: 100%;
        height: 20%;
        display: table;
    }
        #content div div {
            float: left;
            width: 20%;
            height: 100%;
            border: 2px solid white;
            vertical-align: middle;
            display: table;
            justify-content: center;
            align-items: center;
        }


            #content div div p {
                cursor: pointer;
            }
            .acts p {
                cursor: pointer;
            }
            .music p {
                cursor: pointer;
            }

/* Footer */
#footer {
    /*border: 2px solid red;*/
    height: 10%;
    width: 100%;
}
    #footer-left {
        border: 1px solid red;
        height: 100%;
        width: 50%;
        float: left;
    }
    #footer-right {
        border: 1px solid red;
        height: 100%;
        width: 50%;
        float: left;
    }
        #footer-right img {
            width: 8%;
            height: 8%;
            border-radius: 15%;
            float: right;
            cursor: pointer;
            margin-right: 2%;
        }
        #facebook img {
            background: url('../img/social_media/fb.png') no-repeat;
        }
        #soundcloud img {
            background: url('../img/social_media/sc.png') no-repeat;
        }
        #youtube img {
            background: url('../img/social_media/yt.png') no-repeat;
        }
        #mixcloud img {
            background: url('../img/social_media/mc.png') no-repeat;
        }
        #lang_de img {
            float: left;
        }
        #lang_en img {
            float: left;
        }
        #lang_es img {
            float: left;
        }

    #mp {
        width: 50%;
        height: 100%;
        float: left;
    }
    #impressum {
        width: 50%;
        height: 100%;
        float: left;
    }



/* Experimental*/
.glow {
    font-family: $font;
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
}
.glow:hover:before {
    width: 100%;
}
#glow:after {
    content: "";
    display: block;
    position: absolute;
    right: -3px;
    top: 19px;
    height: 6px;
    width: 6px;
    background: white;
    opacity: .5;
}
.glow:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: white;
    -webkit-transition: width .25s;
    -moz-transition: width .25s;
    -ms-transition: width .25s;
    -o-transition: width .25s;
    transition: width .25s;
}

.toggler {
    position: relative;
}
#effect2 {
    position: relative;
    width: 40%;
    padding: 1em;
    letter-spacing: 0;
    font-size: 1.2em;
    border: 1px solid #ffffff;
    background: #eee;
    color: #333;
}
.newClass {
    text-indent: 40px;
    letter-spacing: .4em;
    width: 410px;
    height: 100px;
    padding: 30px;
    margin: 10px;
    font-size: 1.6em
}