* {
    box-sizing: border-box;
    text-align: center;
}

html {
    background: black;
    color: white;
    height: 100%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
body {
    height: 100%;
    width: 100%;
    /*border: 4px solid orange;*/
}
/* Navigation */
#navigation {
    height: 15%;
    width: 100%;
    text-align:center;
    padding-top: 5%;

    /*border: 4px solid blue;*/
}

    #navigation a:hover, #navigation a:focus, #navigation a:active {
        -webkit-stroke-width: 5.3px;
        -webkit-stroke-color: red;
        -webkit-fill-color: red;
        text-shadow: 1px 0px 20px red;
        -webkit-transition: width 0.3s; /*Safari & Chrome*/
        transition: width 0.3s;
        -moz-transition: width 0.3s; /* Firefox 4 */
        -o-transition: width 0.3s; /* Opera */
    }

/* Content der Seite */
#content {
    /*width: 1920px;
    height: 1080px;*/
    /*box-shadow: 10px 20px 30px white;*/
    border-right: 1px solid #EAEAEA;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    height: 75%;
    width: 100%;
    /*background: url('../img/hm.png') no-repeat;*/
}
    #content div {
        /*border: 2px solid pink;*/
        width: 100%;
        height: 20%;
    }
        #content div div {
            float: left;
            width: 20%;
            height: 100%;
            border: 2px solid white;
            vertical-align: middle;
            /*position: relative;*/
            display: flex;
            justify-content: center;
            align-items: center;
            /*display: inline-block;*/
        }
            #content div div p {
                cursor: pointer;
                /*height: 100%;
                /*display: inline-block;
                vertical-align: middle;*/
                /*line-height: normal;*/
                /*position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);*/

                /*line-height: 3em;
                vertical-align: middle;
                display: inline-block;*/
            }

/* Footer */
#footer {
    /*border: 2px solid red;*/
    height: 10%;
    width: 100%;
}
    #footer-left {
        border: 1px solid red;
        height: 100%;
        width: 50%;
        float: left;
    }
    #footer-right {
        border: 1px solid red;
        height: 100%;
        width: 50%;
        float: left;
    }
        #footer-right div{
            width: 100%;
        }
        #twitter {
            background: url('../img/tt.png') no-repeat;
            width: 6%;
            height: 6%;
            border-radius: 15%;
            float: right;
        }
            #twitter span {
                width: 80px;
                height: 80px;
            }
        #facebook {
            background: url('../img/fb.png') no-repeat;
            width: 6%;
            height: 6%;
            border-radius: 15%;
            float: right;
        }
        #soundcloud {
            background: url('../img/sc.png') no-repeat;
            width: 6%;
            height: 6%;
            border-radius: 15%;
            float: right;
        }
        #youtube {
            background: url('../img/yt.png') no-repeat;
            width: 6%;
            height: 6%;
            border-radius: 15%;
            float: right;
        }
        #mixcloud {
            background: url('../img/mc.png') no-repeat;
            width: 6%;
            height: 6%;
            border-radius: 15%;
            float: right;
        }
        .toggler {
            position: relative;
        }
        #effect2 {
            position: relative;
            width: 40%;
            padding: 1em;
            letter-spacing: 0;
            font-size: 1.2em;
            border: 1px solid #ffffff;
            background: #eee;
            color: #333;
        }
        .newClass {
            text-indent: 40px;
            letter-spacing: .4em;
            width: 410px;
            height: 100px;
            padding: 30px;
            margin: 10px;
            font-size: 1.6em
        }